* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Stops flash on tap iOS */
  }

.toggle-input{max-height:0;max-width:0;opacity:0;}
.toggle-input + label{cursor:pointer;display:block;position:relative;/* box-shadow:inset 0 0 0px 1px #d5d5d5; */text-indent:-5000px;height: 26px;width: 50px;border-radius:15px;background: #042a60;}
.toggle-input + label:before, .toggle-input + label:after{content:'';position:absolute;display:block;height: 22px;width: 22px;top: 2px;left:0;border-radius:15px;}

.toggle-input + label:before{background:rgba(19,191,17,0);transition:.25s ease-in-out;}
.toggle-input + label:after{background:white;box-shadow:inset 0 0 0 1px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);transition:.25s ease-in-out;}
.toggle-input:checked + label:before {
    width: 50px;
    background: rgb(0 177 218);
}
[type="checkbox"]:checked + label {
    background: #00b1da;
}
.toggle-input:checked + label:after{left: 30px;/* box-shadow:inset 0 0 0 1px rgb(4,42,96),0 2px 4px rgba(0,0,0,.2); */top: 1px;}
.search { position: relative; }
.search .fa-eye,.fa-eye-slash{position:absolute;top:60px;right:7px;font-size:15px;}
.form-group.mt-4{margin-top:2.4rem;}
.dashboard_page .form-group{display: inline-block;padding:0 15px;margin: 0;}
.filter_button{display: inline-block; padding:0 15px;margin:25px 0 0;}
.clearfilterbtn{background:#00a65a;color:#fff;border-color:inherit;border-radius:7px;}
form.form-block{display:inline-block;width:100%;border-bottom:1px solid #ddd;margin-bottom:3rem;background: #ffffff;padding: 10px 0;/* color: #fff; */}
section.content-header{display:inline-block;width:100%;margin-top:20px;}
.dashboard_page .col{flex:0 0 16.66%;padding:0 15px;}
.dashboard_page .row{display:flex;flex-flow:row;flex-wrap:wrap;}
.dashboard_page .col{flex:0 0 16.66%;padding:0 15px;}
.dashboard_page .row{display:flex;flex-flow:row;flex-wrap:wrap;}
.dashboard_page .small-box{background:#fff!important;color:#000;box-shadow: 1px 2px 20px 0px rgb(5 5 5 / 35%);}
.small-box > .small-box-footer{background:#042a60;padding:8px 10px;color:#fff;font-size:15px;font-weight:normal;}
.small-box h3,.small-box p{color:#000;margin:0;}
.small-box h3{color:#042a60;font-size: 50px;}
.small-box.bg-yellow .icon{background:#00b1da;}
.small-box.bg-purple .icon{background:#605ca8!important;}
.small-box > .inner{padding:20px 15px;text-align:left;display:inline-block;text-align:center;}
.small-box .icon{right:10px;line-height:36px;top:calc(49% - 15px);padding:0;background:#042a60;display:flex;height:70px;align-items:center;transform:translatey(-50%);width:70px;justify-content:center;}
.dashboard_page .icon img {
    max-width: 50px;
    filter: invert(1) brightness(1);
}
.navbar-custom-menu .dropdown-toggle img {
    margin: auto;
    display: block;
}
.small-box .icon .ion{color:#ffff;font-size:60px;line-height:6px;}
.small-box .icon i{color:#fff;font-size:50px;line-height:60px;}
.small-box > .small-box-footer:hover{background: #00b1da}
.admin-table-action-block {display: flex;}
.modal .modal-dialog.modal-sm{width:500px;}
.delete-modal.fade.in{display:flex!important;align-items:center;justify-content:center;}

.modal.delete-modal label {
    width: 100%;
    text-align: left;
}

.modal.delete-modal .form-group {
    padding: 0 15px;
    font-size: 18px;
}
.modal.delete-modal .form-group select {width: 100%;border: 1px #bbb solid;padding: 10px 20px 10px 10px;margin-top: 10px;}

.modal.delete-modal .modal-heading{font-size: 27px;letter-spacing:normal;margin:0 0 17px;font-weight:600;background: #f2f2f2;padding: 10px 0;color: #000;}
.modal.delete-modal p {
    color: #000;
    font-size: 22px;
    letter-spacing: normal;
} 
#deleteModal1 .modal-header .delete-icon{display:none;}
.modal .modal-dialog .modal-content .close{line-height: 18px;font-size:0;opacity:1;position: absolute;z-index: 1;right: 15px;color: #fff;top: 0}
.modal.delete-modal .form-group select:focus {
    outline: none;
}
button.close:after{content:"\00d7";font-size:40px;color: #000;opacity:1;display:flex;align-items:center;justify-content:center;visibility:visible;position:absolute;right: 10px;top: 15px;}
.modal.delete-modal form{text-align:center;}
.modal.delete-modal .btn{width:110px;line-height:26px;font-size:26px;}
.modal-footer .btn:active{box-shadow:none;outline:none;}
.modal.delete-modal .modal-footer{text-align: center;}
.form-group input, .form-group select{border:0;border-bottom:1px solid #ddd;background:transparent;padding:15px 0 5px;height:auto;}
.form-group input[type="file"] {
    padding: 0;
}
.dashb_submit input[type="submit"] {
    color: #fff;
    background-color: #2e4360;
    border-color: #2e6da4;
    padding: 3px 20px 5px;
    font-size: 20px;
    text-transform: capitalize;
    width: auto;
    height: auto;
}
.dashboard_page .form-group input {
    padding-top: 0;
}
.d-inline-block {
    display: inline-block;
}
textarea.form-control {
    height: 100px;
    border: 0;
    border-bottom: 1px solid #ddd;
}
.delete-modal .modal-header{margin:0;padding:0;display:inline;}
.delete-modal .modal-header .delete-icon{display:none;}
.delete-modal .modal-body{padding:0;}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background:transparent;}
.form-group{position:relative;}
.form-group i{font-size:18px;color:#042a60;position:absolute;right:15px;top:10px;}
.box{display:inline-block;padding-bottom:20px;}
.que_wrap{background:#fff;padding:20px 20px;}
.que-text{border-bottom:1px solid #ddd;}
.que-text label{font-size:18px;margin-bottom:10px;}
.ans-table{padding:10px 0;}
.ans_op{display:inline-block;width:100%;padding:5px 0;}
.result-gp{border-top:1px solid #ddd;padding-top:10px;margin-top:20px;}
.ans_op label{float:left;}
.ans_op label + p{display:inline-block;margin:0;font-weight:bold;padding:0 0 0 20px;}
.Correct_ans{background:#f7faff;padding:10px 10px;border-style:solid;border-width:1px;margin:10px 0;border-color:#dfe2e7;}
.Correct_ans label{display:inline-block;font-size:18px;margin:0;}
.Correct_ans label +  p{display:inline-block;padding-left:10px;font-weight:bold;font-size:18px;margin:0;}
div.table-responsive>div.dataTables_wrapper>div.row:nth-child(2) {
    overflow-x: auto;
}
@media(max-width : 1600px){
  .small-box .icon .ion{font-size: 45px;}
}
@media(max-width : 1440px){
  .dashboard_page .col {flex: 0 0 25%;padding: 0 15px;}
  .dashboard_page .small-box h3 {font-size: 26px;}
}
@media(max-width : 1024px){
  .dashboard_page .col{flex: 0 0 50%}
}
@media(max-width : 767px){
  .dashboard_page .small-box h3{font-size:45px;}
  .small-box p{font-size:15px}
  .dashboard_page .form-group{max-width:33%;padding-right:0;width:100%;}
  .dashboard_page .form-group input{margin:0;padding:0;}
  .dashboard_page .form-group input[type="submit"]{margin:0;padding:7px 30px;margin-top:0;}
  form.form-block{max-width:calc(100% - 30px);margin:0  15px 30px;}
  .col-md-12{flex:0 0 100%;padding:0 15px;}
  section.content-header{padding-top:20px;}
  .content-wrapper{height:auto;padding-bottom:50px;}
section.content-header{margin-top: 0}
.filter_button {
    margin: 0 auto;
    display: block;
    max-width: 170px;
}
footer.main-footer {
    text-align: center;
}

/* dashboard css sachin sir */

.dashboard-block .small-box {
display: flex;
flex-wrap: wrap;
}
.inner {
width: 100%;
padding: 10px 5px;
}
.small-box .icon {
text-align: center;
margin: 0 auto 20px;
position: static;
transform: none;
}

.small-box > .small-box-footer {
width: 100%;
text-align: center;
}

}


tr.question_row p.mathrender {
    max-width: 390px;
    white-space: nowrap;
    font-size: 18px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn-group.pull-right {
    margin-right: 15px;
}

tr.question_row p.mathrender:hover {
    overflow-x: auto;
    overflow-y: hidden;
}

tr.question_row p.mathrender::-webkit-scrollbar {
    height: 6px !important;
}

tr.question_row td p::-webkit-scrollbar-thumb {
    background: #00b1da;
    box-shadow: none;
}

tr.question_row td p::-webkit-scrollbar {
    height: 10px;
    border-radius: 50px;
    box-shadow: none;
}

.dashboard-block .row .col-md-12 {
width: 100%;
}

.dashboard-block {
    padding-bottom: 30px;
}

span.deleteimage {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: -6px;
    font-size: 20px;
    color: #ff3614;
}

.preview_image_div {
    position: relative;
    display: inline-block;
    width: 90px;
    float: left;
}
.preview_image_div img {
    height: auto !important;
    width: 100% !important;
}
.close{position:absolute;right:32px;top:32px;width:32px;height:32px;opacity:0.3;}
.close:hover{opacity:1;}
.fa-close:before,.fa-close:after{position:absolute;left:1px;content:' ';height:20px;width:2px;background-color:#ff3614;display:inline-block;top:-2px;}
.fa-close:before{transform:rotate(50deg);}
.fa-close:after{transform:rotate(-50deg);}